OTHENTIC_CLIENT_RPC_ADDRESS=
PRIVATE_KEY=

ATTESTATION_CENTER_ADDRESS=
L2_RPC=
L1_RPC=
# WebSocket RPC URL for the blockchain network where events need to be listened to  
WS_RPC_URL=  
# Contract address that emits the events to listen to  
CONTRACT_ADDRESS=  